table {
  width: 100%;
}
table thead tr {
  text-align: left;
  font-weight: 600;
  font-size: 20px;
}
tr td {
  vertical-align: top;
  text-align: left;
}
.td-item-details {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
}
.td-item-details img {
  width: 60px;
}
