#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.product-list-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.item-container {
  display: flex;
  flex-direction: row;
  column-gap: 2em;
  font-size: 18px;
}
.item-meta,
.add-item-to-cart {
  margin: 1em 0;
}
.item-meta h1 {
  font-size: 1.6em;
}
.item-meta .rating-value {
  margin-top: 1em;
}
.item-meta h4 {
  font-weight: 500;
  margin: 0.5em 0;
}
.item-description {
  text-align: left;
}
.price {
  color: #b12704;
  font-weight: 600;
  font-size: 20px;
}
